@import 'roboto.css';
/* ТИЛЬДА указывает что нам необходимо перейти в nodemodules */
@import "~normalize.css"; 
body {
  font-family: 'Roboto', serif;
}
.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}