{
  // по умолчанию esLint не знает что мы работаем с бейблом, поэтому ему нужно указать что мы работаем с определенным парсером 
  "parser": "babel-eslint",
  "rules" :{
    // warning, для того чтобы билд в итоге собирался.
    "no-unused-vars": "warn"
  },
  //Для понимание консолей и промисов нужно внести конфигурации
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}